# Dependencias de Node.js
node_modules/

# Archivos de salida de construcción de Ionic
www/
platforms/
plugins/

# Capacitor files
ios/
android/

# Archivos de configuración y caché locales
.env
.vscode/
.idea/
*.log

.angular/cache
